*.idea
class
dist
target
*.iml
teste
.vscode
.classpath
.project
.settings/
pom.xml
build/
src/robotframework_AppiumSikuliLibrary.egg-info/dependency_links.txt
src/robotframework_AppiumSikuliLibrary.egg-info/PKG-INFO
src/robotframework_AppiumSikuliLibrary.egg-info/SOURCES.txt
src/robotframework_AppiumSikuliLibrary.egg-info/top_level.txt
